{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}

<!-- SuperSearch -->
            
            <link rel="stylesheet" href="/supersearch/super-search.css">

            <a href="javascript:void(0)" title="or press '/' to search" onclick="toggleSearch()" class="search-btn">
              <img src="/images/search-icon.png">
            </a>

            <div class="super-search" id="js-super-search">
               <a href="javascript:void(0)" onclick="superSearch.toggle()" class="super-search__close-btn">X</a>
               <input type="text" placeholder="Type here to search" class="super-search__input" id="js-super-search__input">
               <ul class="super-search__results" id="js-super-search__results"></ul>
            </div>

             <script src="/supersearch/super-search.js"></script>
             <script>superSearch({
                // Change to your own rss feed file path
                                   searchFile: '//miquelmariano.github.io/feed/rss.xml'
                                  });
             </script>
            
            <!-- SuperSearch -->
