{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
        </header>
        

<link rel="stylesheet" href="https://miquelmariano.github.io/supersearch/super-search.css">

            <a href="javascript:void(0)" title="or press '/' to search" onclick="toggleSearch()" class="search-btn">
              <img src="https://miquelmariano.github.io/assets/images/search-icon.png">
            </a>

 <div class="super-search" id="js-super-search">
  <input type="text" placeholder="Type here to search." class="super-search__input" id="js-super-search__input">
  <ul class="super-search__results" id="js-super-search__results"></ul>
 </div>

 <script src="https://miquelmariano.github.io/supersearch/super-search.js"></script>
 <script>superSearch({searchFile: '//miquelmariano.github.io/feed.xml'});
 </script>


    
{% endif %}

{% include nav.html %}
